body {
  background-color: #555;
}

#container {
  height: 900px;
  width: 600px;
  margin: 100px auto;
}

#green {
  background-color: lightgreen;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}
.button {
  width: 300px;
  height: 300px;
  float: left;
  opacity: 0.5;
  cursor: pointer;
}
.lit{
  opacity: 1;
}
.clear {
  clear: both;
}
#panel {
  width: 300px;
  height: 150px;
  margin-top: -380px;
  margin-left: 150px;
  background-color: #D4A190;
  font-family: 'Orbitron', sans-serif;
}

#counter {
  text-align: center;
  width: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color: green;
}
#buttonContainer {
  margin-top: 40px;
}